*{
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header{
    border: 1px solid #e0dad1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5.75rem;
    padding: 0rem 1.5rem;
}

.header__title{
    font-size: 1.5rem;
    color: #403126;
    font-weight: 700;
    transition: all 300ms;
}

.header__title:hover{
    color: #937c6c
}


.header__nav-list{
    display: flex;
    list-style: none;
    gap: 2rem;
}

.header__nav-option{
    text-decoration: none;
    color: #403126;
    font-weight: 700;
    transition: all 300ms;
}

.header__nav-option:hover{
    color: #937c6c
}

.main{
    flex: 1;
}

.footer{
    border: 1px solid #e0dad1;
    font-size: 0.9rem;
    color: #937c6c;
    line-height: 1.25rem;
    text-align: center;
    padding: 2rem 1.5rem;
}