*{
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* 
==========================
Estilo do Layout
==========================
*/
.header{
    border: 1px solid #e0dad1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5.75rem;
    padding: 0rem 1.5rem;
}

.header__title{
    font-size: 1.5rem;
    color: #403126;
    font-weight: 700;
    transition: all 300ms;
}

.header__title:hover{
    color: #937c6c
}

.header__nav-list{
    display: flex;
    list-style: none;
    gap: 2rem;
}

.header__nav-option{
    text-decoration: none;
    font-size: 0.875rem;
    color: #403126;
    font-weight: 700;
    transition: all 300ms;
}

.header__nav-option:hover{
    color: #937c6c
}

.main{
    flex: 1;
}

.footer{
    border: 1px solid #e0dad1;
    font-size: 0.875rem;
    color: #937c6c;
    line-height: 1.25rem;
    text-align: center;
    padding: 2rem 1.5rem;
}

/* 
==========================
Estilo do home
==========================
*/

.home{
    padding: 3rem 1.5rem;
    max-width: 47rem;
    margin: auto;
}

.home__intro{
    text-align: center;
    margin-bottom: 4rem;
}

.home__title{
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #403126;
}

.home__description{
    font-size: 1.125rem;
    line-height: 1.4;
    color: #937c6c;
}

.home__card-box{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.card{
    padding: 1.5rem;
    border: 1px solid #e0dad1;
    border-radius: 16px;
    background-color: #F6F3EE;
}

.card__title{
    color: #403126;
    margin-bottom: 0.75rem;
    font-weight: 600;
    line-height: 2rem;
}

.card__text{
    color: #937c6c;
    line-height: 1.625;
    margin-bottom: 1rem;
}

.card__post{
    color: #937C6CCC;
    line-height: 1.625;
    font-size: 0.875rem;
}

/* 
==========================
Estilo do Sobre
==========================
*/

.about-mural{
    margin: auto;
    padding: 3rem 1.5rem;
    max-width: 47rem;
}

.about-mural, .about-morals__intro, .about-mural__section{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.about-mural__title{
    color: #403126;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.about-mural__subtitle{
    color: #403126;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;

}

.about-mural__text{
    color: #403126E6;
    line-height: 1.625;
}

.about-mural__text--highlight{
    color: #403126E6;
    font-weight: 700;
}
.about-mural__text--footer{
    color: #937c6c;
}