*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header{
    border: 1px solid #e0dad1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5.75rem;
    padding: 0rem 1.5rem;
}

.header__title{
    font-size: 1.5rem;
    color: #403126;
}

.header__nav-list{
    display: flex;
    list-style: none;
    gap: 2rem;
}

.header__nav-option{
    text-decoration: none;
    color: #403126;
}

.main{
    flex: 1;
}

.footer{
    border: 1px solid #e0dad1;
    text-align: center;
    padding: 2rem 1.5rem;
}